.App > div {
  /* box-sizing: border-box; */
  width: 100px;
  height: 50px;
  border: 1px solid black;
  white-space: nowrap;
  user-select: none;
  padding: 30px;
}

.App > div > div {
  width:fit-content;
}

.cursorText {
  cursor: text;
}

.cursorCell{
  cursor: cell;
}
